<h2 id="title">Welcome to Ember</h2>

{{ff-checkbox
  checked=checked
  indeterminate=indeterminate
  disabled=disabled
  on-change=(action (mut checked))
}}

<div>
  <button {{action "toggleProperty" "checked"}}>Toggle Checked</button>
  Checked: {{checked}}
</div>

<div>
  <button {{action "toggleProperty" "indeterminate"}}>Toggle Indeterminate</button>
  Indeterminate: {{indeterminate}}
</div>

<div>
  <button {{action "toggleProperty" "disabled"}}>Toggle Disabled</button>
  Disabled: {{disabled}}
</div>
